<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">

{%- include head.html -%}
{%- include twitter-card.html -%}
{%- include mathjax.html -%}

<style>
    img {
        /* 画像を中央寄せする */
        display: block;
        margin: auto;
        /* 画像が大きくなりすぎないようにする */
        max-width: 100%;
        max-height: calc(800px - (30px * 2));
        border: 1px solid #eee;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 80px;
    }
</style>
<base href="{{ site.url }}{{ site.baseurl }}/dummy/">

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <div class="wrapper">
            {{ content }}
        </div>
    </main>

    {%- include footer.html -%}

</body>

</html>